.ant-table-cell::before {
    display: none;
}
thead {
    @apply [&>tr]:first:rounded-lg
}
th.ant-table-cell {
    border: none !important;
    @apply !py-1 !px-3 !h-10 text-left rtl:text-right align-middle !bg-default-100 whitespace-nowrap !text-foreground-500 !text-tiny !font-semibold first:rounded-l-lg rtl:first:rounded-r-lg rtl:first:rounded-l-[unset] last:rounded-r-lg rtl:last:rounded-l-lg rtl:last:rounded-r-[unset] data-[sortable=true]:transition-colors data-[sortable=true]:cursor-pointer data-[hover=true]:text-foreground-400 outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2;
}
td {
    border: none !important;
    @apply !py-3 !px-3 relative align-middle whitespace-normal !text-small !font-normal outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 before:content-[''] before:absolute before:z-0 before:inset-0 before:opacity-0 data-[selected=true]:before:opacity-100 group-data-[disabled=true]:text-foreground-300 group-data-[disabled=true]:cursor-not-allowed before:bg-default/40 data-[selected=true]:text-default-foreground first:before:rounded-l-lg rtl:first:before:rounded-r-lg rtl:first:before:rounded-l-[unset] last:before:rounded-r-lg rtl:last:before:rounded-l-lg rtl:last:before:rounded-r-[unset]
}
.ant-table-cell-hover {
    @apply !bg-default-100/80
}

.ant-table-row-selected > .ant-table-cell{
    @apply !bg-default-100/80
}
.ant-table-thead {
    @apply [&>tr]:first:rounded-lg
}
.ant-table-thead::after {
    content: "";
    @apply w-px h-[4px] block
}