@tailwind base;
@tailwind components;

@tailwind utilities;

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#046D8B 0 0);
    background:
        var(--c) 0 38px,
        var(--c) right 18px bottom 18px,
        var(--c) right 18px top 18px,
        var(--c) 18px 18px,
        var(--c) 18px 100%,
        var(--c) 100% 100%,
        var(--c) 100% 0,
        var(--c) 0 0;
    animation: l7 1.5s infinite alternate;
}

@keyframes l7 {
    0% {
        background-size: 0 4px, 4px 0, 0 4px, 4px 0, 0 4px, 4px 0, 0 4px, 4px 0
    }

    12.5% {
        background-size: 40px 4px, 4px 0, 0 4px, 4px 0, 0 4px, 4px 0, 0 4px, 4px 0
    }

    25% {
        background-size: 40px 4px, 4px 20px, 0 4px, 4px 0, 0 4px, 4px 0, 0 4px, 4px 0
    }

    37.5% {
        background-size: 40px 4px, 4px 20px, 20px 4px, 4px 0, 0 4px, 4px 0, 0 4px, 4px 0
    }

    50% {
        background-size: 40px 4px, 4px 20px, 20px 4px, 4px 40px, 0 4px, 4px 0, 0 4px, 4px 0
    }

    62.5% {
        background-size: 40px 4px, 4px 20px, 20px 4px, 4px 40px, 40px 4px, 4px 0, 0 4px, 4px 0
    }

    75% {
        background-size: 40px 4px, 4px 20px, 20px 4px, 4px 40px, 40px 4px, 4px 100%, 0 4px, 4px 0
    }

    87.5% {
        background-size: 40px 4px, 4px 20px, 20px 4px, 4px 40px, 40px 4px, 4px 100%, 100% 4px, 4px 0
    }

    95%,
    100% {
        background-size: 40px 4px, 4px 20px, 20px 4px, 4px 40px, 40px 4px, 4px 100%, 100% 4px, 4px 40px
    }
}

.body {
    overflow: auto;
}

.scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track:hover {
    background-color: transparent
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    /* border: 1px solid #fff; */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    /* border: 4px solid #f4f4f4 */
}

.ant-empty-image img {
    border-radius: 8px;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
    display: none
}


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        /* --primary: 222.2 47.4% 11.2%; */
        /* --primary-foreground: 210 40% 98%; */

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.ant-table-body {
    /* background-color: red; */
}

.ant-table-body::after:-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
}

/* background of the scrollbar except button or resizer */
.ant-table-body::-webkit-scrollbar-track {
    background-color: transparent;
}

.ant-table-body::-webkit-scrollbar-track:hover {
    background-color: transparent
}

/* scrollbar itself */
.ant-table-body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    /* border: 1px solid #fff; */
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    /* border: 4px solid #f4f4f4 */
}

.ant-empty-image img {
    border-radius: 8px;
}

/* set button(top and bottom of the scrollbar) */
.ant-table-body::-webkit-scrollbar-button {
    display: none
}

/* .prose {
    max-width: 100% !important;
} */

.blog-view .blog-content-wrapper {
    box-shadow: none;
    border: none;
}

.blog-view .shiki {
    margin: 0 !important;
    overflow: auto;
}

.shiki.github-light {
    padding: 0;
    background-color: #f2f7fc !important;
    border-radius: 0 0 6px 6px !important;

}

.shiki.github-light .line {
    padding: 0 24px;
    height: 24px;
    width: 100%;
    display: inline-block;

}

.shiki.github-light.line {
    background-color: #f2f7fc !important;
}

.node-codeBlock::before {
    display: none !important;
}

code .diff.add {
    background-color: rgba(16, 185, 129, .14);
}

code .diff.add:before {
    content: "+";
    position: absolute;
    left: 10px;
    color: #18794e;
}

code .diff.remove {
    background-color: rgba(244, 63, 94, .14);
    opacity: .7;
}

code .diff.remove:before {
    content: "-";
    position: absolute;
    left: 10px;
    color: #b34e52;
}